.row{
    width: 500px;
    margin: auto;
    padding-top: 50px;
}

.card{
    box-shadow: 1px 1px 5px;
}

#img{
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.table > thead > tr > th{
    text-align: center;
}

.table > tbody > tr > td{
    text-align: center;
}

.form-outline > label{
    width: 100%;
    color: black;
    display: block;
}