<notifier-container></notifier-container>
<app-navbar></app-navbar>
<app-navbar-championship></app-navbar-championship>

<div class="row" [hidden]="!isGroup">
    <div class="modal-footer"><button type="button" style="margin-right: 50px" class="btn btn-outline-secondary" (click)="createMatches(1)">Criar partidas das quartas de finais</button></div>
    <h3 style="text-align: center;">Partidas da fase de grupos</h3>
    <a class="m-2 card" *ngFor="let match of matches" routerLink="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="card-top size-m">
            Grupo {{match.name_group}}
        </div>
        <div class="card-group">
            <div class="home-team-card size-m">
                <div class="home-team">{{match.home_team.name}} <img class="img" src="{{match.home_team.shield_img}}" [hidden]="!match.home_team.shield_img"></div>
            </div>
            <div class="scoreboard size-m">
                {{match.scoreboard}}
            </div>
            <div class="scoreboard size-m" [hidden]="match.scoreboard">
                v
            </div>
            <div class="away-team-card size-m">
                <div class="away-team"><img class="img" src="{{match.away_team.shield_img}}" [hidden]="!match.away_team.shield_img"> {{match.away_team.name}}</div>
            </div>
        </div>
    </a>
    <div class="mt-3" style="text-align: center;">
        Próximo:
        <select (change)="handlePageChange($event)">
          <option *ngFor="let page of pages" [ngValue]="page">
            {{ page }}
          </option>
        </select>
      </div>
</div>

<div class="row" [hidden]="!isQuarterFinal">
    <div class="modal-footer"><button type="button" style="margin-right: 50px" class="btn btn-outline-secondary" (click)="createMatches(2)">Criar partidas das semi finais</button></div>
    <h3 style="text-align: center;">Partidas das quartas de finais</h3>
    <a class="m-2 card" *ngFor="let match of matches" routerLink="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="card-group">
            <div class="home-team-card size-m">
                <div class="home-team">{{match.home_team.name}} <img class="img" src="{{match.home_team.shield_img}}" [hidden]="!match.home_team.shield_img"></div>
            </div>
            <div class="scoreboard size-m">
                {{match.scoreboard}}
            </div>
            <div class="scoreboard size-m" [hidden]="match.scoreboard">
                v
            </div>
            <div class="away-team-card size-m">
                <div class="away-team"><img class="img" src="{{match.away_team.shield_img}}" [hidden]="!match.away_team.shield_img"> {{match.away_team.name}}</div>
            </div>
        </div>
    </a>
</div>

<div class="row" [hidden]="!isSemifinal">
    <div class="modal-footer"><button type="button" style="margin-right: 50px" class="btn btn-outline-secondary" (click)="createMatches(3)">Criar partida da final</button></div>
    <h3 style="text-align: center;">Partidas das semi finais</h3>
    <a class="m-2 card" *ngFor="let match of matches" routerLink="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="card-group">
            <div class="home-team-card size-m">
                <div class="home-team">{{match.home_team.name}} <img class="img" src="{{match.home_team.shield_img}}" [hidden]="!match.home_team.shield_img"></div>
            </div>
            <div class="scoreboard size-m">
                {{match.scoreboard}}
            </div>
            <div class="scoreboard size-m" [hidden]="match.scoreboard">
                v
            </div>
            <div class="away-team-card size-m">
                <div class="away-team"><img class="img" src="{{match.away_team.shield_img}}" [hidden]="!match.away_team.shield_img"> {{match.away_team.name}}</div>
            </div>
        </div>
    </a>
</div>

<div class="row" [hidden]="!isFinal">
    <h3 style="text-align: center;">Final</h3>
    <a class="m-2 card" *ngFor="let match of matches" routerLink="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="card-group">
            <div class="home-team-card size-m">
                <div class="home-team">{{match.home_team.name}} <img class="img" src="{{match.home_team.shield_img}}" [hidden]="!match.home_team.shield_img"></div>
            </div>
            <div class="scoreboard size-m">
                {{match.scoreboard}}
            </div>
            <div class="scoreboard size-m" [hidden]="match.scoreboard">
                v
            </div>
            <div class="away-team-card size-m">
                <div class="away-team"><img class="img" src="{{match.away_team.shield_img}}" [hidden]="!match.away_team.shield_img"> {{match.away_team.name}}</div>
            </div>
        </div>
    </a>
</div>