<nav class="navbar navbar-expand-lg" style="background-color: rgb(189, 189, 189);">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/championship/{{championship_id}}">Detalhes do campeonato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/groups">Grupos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Partidas</a>
            <ul class="dropdown-menu" style="background-color: rgb(189, 189, 189);">
              <li class="dropdown-item"><a class="dropdown-item" routerLink="/matches/group-stage">Fase de grupos</a></li>
              <li class="dropdown-item"><a class="dropdown-item" routerLink="/matches/quarter-final">Quartas de finais</a></li>
              <li class="dropdown-item"><a class="dropdown-item" routerLink="/matches/semifinals">Semi finais</a></li>
              <li class="dropdown-item"><a class="dropdown-item" routerLink="/matches/final">Final</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>