<app-navbar></app-navbar>
<notifier-container></notifier-container>

<div class="p-5 pb-0">
    <div class="row">
      <div class="col-10">
        <div id="div-search" class="input-group mb-3">
            <input [(ngModel)]="search" type="text" class="form-control" placeholder="Buscar por campeonatos" aria-describedby="basic-addon2">
            <select name="championships" id="championships" [(ngModel)]="ordination">
                <option value="desc">selecione para ordenar</option>
                <option value="asc">a-z</option>
                <option value="desc">z-a</option>
                <option value="number_of_teams">Nº times</option>
            </select>
            <div class="input-group-append">
                <button (click)="searchChampionships()" class="btn btn-outline-secondary" type="button">Pesquisar</button>
            </div>
            <div id="btn-create">
                <a routerLink="#" class="btn btn-success" (click)="getAllTeamsSelect()" data-bs-toggle="modal" data-bs-target="#exampleModal">+Adiconar</a>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="p-5 pt-0">
    <div class="row">
      <div *ngFor="let championship of championships | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count};let i = index" class="col-4 m-2 card" style="width: 18rem;">
        <div class="card-body">
          <div>
            <input type="hidden" [(ngModel)]="championship.name">
            <h4 class="card-title text-center">{{championship.name}}</h4>
          </div>
          <div>
            <input type="hidden" [(ngModel)]="championship.description">
            <p class="card-title text-center">descrição: {{championship.description}}</p>
          </div>
          <div>
            <input type="hidden" [(ngModel)]="championship.award">
            <p class="card-title text-center">premiação: {{championship.award}}</p>
          </div>
          <div>
            <input type="hidden" [(ngModel)]="championship.status">
            <p class="card-title text-center">status: {{championship.status}}</p>
          </div>
          <div class="d-flex justify-content-around mt-3">
            <a routerLink="/championship/{{championship.id}}"
              class="btn btn-info">Mais informações</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3" style="text-align: center;">
      Itens por busca:
      <select (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
      Próximo:
      <select (change)="handlePageChange($event)">
        <option *ngFor="let size of totalPages" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Criar novo campeonato</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formChampionship" id="form">
                    
                    <div class="form-outline form-white mb-2">
                        <input class="input" id="name" type="text" formControlName="name" placeholder="Nome">
                        <div *ngIf="formChampionship.get('name')?.errors?.['required'] && formChampionship.get('name')?.touched" style="color: red;">
                            Nome obrigatório
                        </div>
                    </div>
            
                    <div class="form-outline form-white mb-2">
                        <input class="input" id="description" type="text" formControlName="description" placeholder="Descrição">
                        <div *ngIf="formChampionship.get('description')?.errors?.['required'] && formChampionship.get('description')?.touched" style="color: red;">
                            Descrição é obrigatória
                        </div>
                    </div>
                    
                    <div class="form-outline form-white mb-2">
                        <input class="input" id="number_of_teams" type="text" formControlName="number_of_teams" placeholder="Número de times">
                        <div *ngIf="formChampionship.get('number_of_teams')?.errors?.['required'] && formChampionship.get('number_of_teams')?.touched" style="color: red;">
                            Número de times é obrigatório
                        </div>
                    </div>
                    
                    <div class="form-outline form-white mb-2">  
                        <input class="input" id="award" type="text" formControlName="award" placeholder="Premiação" required>
                        <div *ngIf="formChampionship.get('award')?.errors?.['required'] && formChampionship.get('award')?.touched" style="color: red;">
                            Premiação é obrigatória
                        </div>
                    </div>
                    
                    <label for="">Selecione os participantes:</label>
                    <div class="form-outline form-white mb-2">  
                      <select (change)="handleTeamChange($event)" multiple>
                        <option *ngFor="let team of teamsSelect" [ngValue]="team.id" [hidden]="team.hidden">
                          {{ team.id }} - {{ team.name }}
                        </option>
                      </select>
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success" (click)="addChampionship()" data-bs-dismiss="modal">Adicionar</button>
            </div>
      </div>
    </div>
</div>